<h3>GLOSARIO</h3>
<ul>
<li>Unicameral: Que tiene una sola cámara de representantes.</li>
<li>Unicameral:>Uninominal: Las elecciones Uninominales son aquellas en las que se vota directamente por una sola persona</li>
<li>Unicameral:>Distrito: Parte en que se divide una población, un territorio u otro lugar con fines administrativos o jurídicos. En Chile el distrito es la unidad territorial para la elección de diputados.</li>
<li>Unicameral:>Re-distritaje: Corresponde al acto de re-dibujar los distritos actuales. En este proceso pueden ocurrir cambios en los distritos y en las comunas que lo componen. </li>
<li>Unicameral:>Circunscripción: Es la división territorial que se realiza para elegir a los senadores. Una circunscripción puede agrupar varios distritos al mismo tiempo. </li>
<li>Unicameral:>Bicameral: La bicameralidad es la práctica de tener dos cámaras legislativas. En ese sentido, un parlamento bicameral es un parlamento o congreso que posee dos cámaras: una Cámara baja, generalmente denominada Cámara de Diputados, y una Cámara alta, habitualmente llamada Senado.</li>
<li>Unicameral:>Diputados Nacionales: Se vota por un partido político, y de acuerdo al porcentaje de votación, se distribuyen escaños de carácter nacional. </li>
<li>Unicameral:>Escaños:  Un escaño es un puesto o asiento de los parlamentarios en las cámaras de representación.</li>
<li>Unicameral:>Sistema Proporcional: Los cargos se distribuyen de acuerdo al porcentaje de votos que obtenga cada fuerza política. Generalmente se utiliza para elegir a dos o más representantes al mismo tiempo.</li>
<li>Unicameral:>Sistema Mayoritario: también denominado de representación directa o sistemas mayoritarios, en el cual la mayoría absoluta o relativa determina a la coalición política dominante. Generalmente se utiliza en distritos uninominales, donde se elige un cargo, el que saca más votos.</li>
</ul>
