<div class="row">
	<div class="embed-video">
		<h3>y...¿Cómo funciona el Binominal?</h3>
		<iframe width="640" height="360" src="//www.youtube.com/embed/m0VUDPtE-JQ" frameborder="0" allowfullscreen></iframe>
	</div>
	
</div>

<!--<div class="row">
	<h3>GLOSARIO</h3>
<ul>
<li>Unicameral: Congresos o Parlamentos compuestos por una sola cámara de representantes.</li>
<li>Bicameral: Congresos o Parlamentos compuestos por dos cámaras de representantes. Estas Cámaras pueden elegir a sus representantes según los mismos criterios o bajo criterios distintos (por ejemplo, representatividad vs igualdad de territorios). Asimismo, pueden tener las mismas funciones o diferir en algunas de éstas.</li>
<li>Uninominal: Las elecciones Uninominales son aquellas en las que se vota directamente por una sola persona</li>
<li>Distrito: Parte en que se divide una población, un territorio u otro lugar con fines administrativos o jurídicos. En Chile el distrito es la unidad territorial para la elección de diputados.</li>
<li>Re-distritaje: Corresponde al acto de re-dibujar los distritos actuales. En este proceso pueden ocurrir cambios en los distritos y en las comunas que lo componen. </li>
<li>Circunscripción: Es la división territorial que se realiza para elegir a los senadores. Una circunscripción puede agrupar varios distritos al mismo tiempo. </li>
<li>Diputados Nacionales: Se vota por un partido político, y de acuerdo al porcentaje de votación, se distribuyen escaños de carácter nacional. </li>
<li>Escaños:  Un escaño es un puesto o asiento de los parlamentarios en las cámaras de representación.</li>
<li>Sistema Proporcional: Los cargos se distribuyen de acuerdo al porcentaje de votos que obtenga cada fuerza política. Generalmente se utiliza para elegir a dos o más representantes al mismo tiempo.</li>
<li>Sistema Mayoritario: también denominado de representación directa o sistemas mayoritarios, en el cual la mayoría absoluta o relativa determina a la coalición política dominante. Generalmente se utiliza en distritos uninominales, donde se elige un cargo, el que saca más votos.</li>
<li> Cifra repartidora de D'Hondt: es una fórmula electoral, que permite obtener el número de cargos electos asignados a las candidaturas, en proporción a los votos conseguidos por lista. Este sistema puede servir para cualquier tipo de distribución proporcional.</li>
<li>Cifra reparditora de Sainte-Laguë: (o de Webster o de los divisores impares) es igual que la cifra repartidora d'Hondt pero en vez de dividir el número de votos entre 1, 2, 3... se divide entre 1, 3, 5... Así se favorece más a los partidos menos votados.</li>
</ul>
</div>-->


