<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
        
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}/img/logo-ha.svg"></a>
        </div>

        <ul class="nav nav-tabs" role="tablist">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Otros hay acuerdo <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="{{ site.baseurl }}/educacion">Hay Acuerdo Educación</a>
                  </li>
<!--                   <li>
                    <a href="{{ site.baseurl }}/binominal">Hay Acuerdo Binominal</a>
                  </li> -->
                </ul>
              </li>
        </ul>
  </div>
</div>