<!-- SOCIAL BUTTONS -->
        <div class="container">
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="Y en educación... #HayAcuerdo? Los datos duros del debate de la reforma educacional en:" data-via="ciudadanoi">Tweet</a>
            <div class="fb-like" data-href="http://hayacuerdo.ciudadanointeligente.org/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
<!-- END SOCIAL BUTTONS -->