<div class="row hidden-xs">
  <div class="col-md-5">
    <div class="h1">Gobierno</div>
  </div>
  <div class="col-md-2 versus">
    <div class="h1">v/s</div>
  </div>
  <div class="col-md-5">
    <div class="h1 title-compare">Ciudadano Inteligente</div>
  </div>
</div>

<div class="sheet_page" data-sheet="{{ site.gsheetdineroypolitica-sheetpage }}"></div>
<div class="positions">
   <!--<div class="loader"></div>-->
  <div class="allPositions"></div>
</div>

<script type="text/javascript">
$( document ).ready(function() {
  $(".allPositions").on("load",function(){
    $(".allPositions").fadeIn("slow");
    $(".loader").hide("");
  });
})
</script>

<script type="text/javascript">
  var url_share = '{{ site.url }}';
  window.onload = function() { init() };

  var public_spreadsheet_url = "{{ site.gsheetdineroypolitica }}";

  function init() {
    Tabletop.init( { key: public_spreadsheet_url,
                     callback: showInfo,
                     wanted: ['gobierno-fci'],
                     simpleSheet: true } )
  }
</script>

<script type="text/javascript" src="{{ site.baseurl }}/js/hayacuerdo.js"></script>